lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

node_modules
.DS_Store

gaston-compiled.js
bundle.js
bundle.css
!lib/commands/bundle.js
vendor/
test/mocha.*
test/test-runner.html
