body {
	padding:20px;
	font-family:DIN Next LT Pro Light,Helvetica,Arial,sans-serif
}

h2 {
	background-color:#34cda7
}

h3 {
	font-size:150%
}

button {
	padding:10px;
	min-height:52px;
	text-align:left;
	cursor:pointer
}

button.gotoButton {
	width:80%
}

button.nativeButton {
	width:20%
}

label {
	display: block;
	font-weight: bold;
}

input {
	width: 100%;
	font-size: 150%;
}

#nativeCreateDialog {
	position: fixed;
	top: 0;
	left: 50px;
	padding: 20px;
	background: #fff;
	border: 1px solid #eee;
	display: none;
}

#nativeCreateDialog button {
	width: 48%;
	text-align: center;
	font-weight: bold;
}

#targetDir {
	font-style: italic;
}

.primary {
	color: #fff;
	background: #428bca;
	border-color: #357ebd;
}
