/*
 * MTV Play v0.1, 2014
 * Author: Gideon van Dijk, Vigour.io
 */
/* ==========================================================================
   MTV Play Mixins
   ========================================================================== */
/*
 * Solids
 */
/*
 * Gradients
 */
/*
 * Borders
 */
/*
 * Corners
 */
/*
 * Opacity
 */
/*
 * Shadows
 */
/*
 * Icons
 */
body {
  background: pink;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  -webkit-opacity: 0.95;
  opacity: 0.95;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
  filter: alpha(opacity=95);
}
